.background-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  z-index: -1;
}

.artist-main-div {
  margin-left: 1em;
  height: 85vh;
  max-width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* change background-color for overlay, add font family here */
/* change font size here, keep it in em! font-weight either 400 or 700 */
/* this is the max font size(3.2em) which displays on one row, anything bigger will go on 2 rows */
.artist-container {
  margin-top: auto;
  padding: 0 1em;
  font-size: 3.2em;
  background-color: #171718dc;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.from-city {
  text-transform: capitalize;
}

/* change color for text colour here */
a {
  text-decoration: none !important;
  color: #e2ebf0 !important;
}

.artist-page .next-button {
  display: inline-block;
}

@media (max-width: 600px) {
  .artist-page .nav-text {
    margin-left: 0.1em;
  }
  .artist-main-div {
    max-width: 80%;
    font-size: 0.7rem;
    float: none;
    justify-content: flex-start;
    margin: auto;
    text-align: center;
    max-height: 20vh;
  }
  .artist-page .navbar {
    padding-left: 0.1em;
    justify-content: space-evenly;
  }
}
