.bio-main-div {
  min-height: 100vh;
  background: url("../Backgrounds/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* change background-color for overlay, color for text-color, add font family here */
.bio-container {
  margin-top: 1em;
  max-width: 60%;
  padding: 2em 2em;
  background-color: #171718dc;
  color: #e2ebf0;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/* font size for header, keep it in em! font-weight either 400 or 700 */
.artist-header-row {
  font-weight: 700;
  font-size: 10em;
  justify-content: center;
  align-items: center;
}

.artist-bio-button-row {
  justify-content: center;
}

.artist-bio-row {
  margin-top: 1em;
  text-align: center;
}

@media (max-width: 600px) {
  .bio-container {
    font-size: 0.8em;
    max-width: 80%;
  }

  .artist-header-row h2 {
    font-size: 1.5rem;
  }
}
