.contact-main-div {
  min-height: 100vh;
  background: url("../Backgrounds/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.contact-outer-div {
  padding-bottom: 1em;
}

/* change background-color for overlay, color for text-color, add font family here */
.contact-container {
  margin-top: 2em;
  padding-bottom: 1em;
  max-width: 70%;
  color: #e2ebf0;
  background-color: #171718dc;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.contact-main-div .your {
  display: none;
}

/* change font size for header here, keep it in em! font-weight either 400 or 700 */
.contact-header-row {
  margin: 0;
  font-size: 10em;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
}

.instructions-col {
  padding: 0 2em;
  border-right: 1px solid #e2ebf0;
}

.form-col {
  padding: 0 2em;
}

.contact-form {
  padding: 1em 0;
}

.contact-button-row {
  justify-content: center;
}

@media (max-width: 600px) {
  .contact-container {
    max-width: 80%;
    margin-top: 1rem;
  }
  .contact-header-row h2 {
    font-size: 1.5rem;
  }
  .col-row {
    display: flex;
    flex-direction: column;
  }

  .instructions-col {
    border-right: none;
    border-bottom: 1px solid #e2ebf0;
    padding: 0 1em;
    margin-bottom: 1em;
  }

  .download {
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  .contact-container {
    max-width: 80%;
  }
}
