.navbar {
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
}

.bg-custom {
  background-color: transparent;
}

.nav-text {
  background-color: #171718dc;
  margin-left: 1em;
  text-decoration: none !important;
  color: #eceae5 !important;
  box-shadow: inset 0 0 0 1px #e6dce26c;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.dropdown-toggle {
  background-color: #171718dc;
  text-decoration: none !important;
  color: #eceae5 !important;
  box-shadow: inset 0 0 0 1px #e6dce26c;
}

.dropdown-menu {
  background-color: #171718dc;
  box-shadow: inset 0 0 0 1px #e6dce26c;
}

.dropdown-item {
  color: #eceae5 !important;
}

.nav-text:hover,
.dropdown-toggle:hover,
.dropdown-item:hover {
  background-color: #d5dde042;
  color: #e2ebf0 !important;
}
