.city-page-div {
  min-height: 100vh;
  margin: 0;
  background: url("../Backgrounds/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.city-page-content {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1em;
}

.city-container {
  max-width: 55%;
  padding: 2em 2em;
  color: #e2ebf0;
  background-color: #171718dc;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.start {
  text-decoration: underline !important;
}

.city-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.city-button {
  margin: 1em;
}

.city-page-div .project {
  display: none;
}

@media (max-width: 600px) {
  .city-container {
    font-size: 0.8em;
    max-width: 70%;
    padding: 1em 0;
  }

  .city-container h2 {
    font-size: 1.4rem;
  }

  .city-button {
    margin: 0.5em;
    padding: 0 0.5em;
    line-height: 3.15em;
  }
}

@media (max-width: 900px) {
  .city-container {
    max-width: 80%;
  }
}
