.background-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  z-index: -1;
}

.next-button {
  display: none;
}

.planet-main-div .planet {
  display: none;
}

.planet-main-div {
  max-width: 70%;
  float: left;
}

@media (max-width: 600px) {
  .planet-main-div {
    max-width: 100%;
  }
}
