.project-main-div {
  min-height: 100vh;
  background: url("../Backgrounds/background.jpg") no-repeat center center fixed;
  background-size: cover;
}
.project-outer-div {
  height: 100%;
  padding-bottom: 1em;
}

.project-container {
  margin-top: 2em;
  padding-bottom: 1em;
  max-width: 60%;
  color: #e2ebf0;
  background-color: #171718dc;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.project-header {
  font-size: 10em;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.img-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-pic {
  max-width: 80%;
  margin: 1rem 0;
}

.project-desc {
  margin: auto;
  margin-top: 1em;
  padding: 1em;
  text-align: center;
}

@media (max-width: 600px) {
  .project-container {
    max-width: 80%;
    margin-top: 1rem;
  }

  .project-header h2 {
    font-size: 1.5rem;
  }

  .project-vid {
    max-width: 80%;
    height: auto;
  }
}

@media (max-width: 900px) {
  .project-vid {
    max-width: 80%;
    height: auto;
  }
}
